// NppTranslator
// Copyright (C) 2026 AndyD
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

#include <windows.h>
#include "resource.h"

#ifndef IDC_STATIC
#define IDC_STATIC -1
#endif

IDD_SETTINGS_DLG DIALOGEX 0, 0, 320, 206
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NppTranslator - Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Provider:",IDC_STATIC_PROVIDER,12,14,50,10
    COMBOBOX        IDC_PROVIDER,70,12,230,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Source language:",IDC_STATIC_SOURCE,12,38,60,10
    EDITTEXT        IDC_SOURCE_LANG,80,36,70,14,ES_AUTOHSCROLL
    LTEXT           "Target language:",IDC_STATIC_TARGET,160,38,70,10
    EDITTEXT        IDC_TARGET_LANG,235,36,65,14,ES_AUTOHSCROLL
    LTEXT           "DeepL API key:",IDC_STATIC_DEEPL_KEY,12,64,70,10
    EDITTEXT        IDC_DEEPL_KEY,80,62,220,14,ES_AUTOHSCROLL | ES_PASSWORD
    LTEXT           "DeepL endpoint:",IDC_STATIC_DEEPL_EP,12,90,70,10
    COMBOBOX        IDC_DEEPL_ENDPOINT,80,88,220,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Language codes: auto, it, en, de, fr, es, ...",IDC_STATIC_LANG_HINT,12,116,296,10
    LTEXT           "CSV column:",IDC_STATIC_CSV_COLUMN,12,136,70,10
    EDITTEXT        IDC_CSV_COLUMN,80,134,220,14,ES_AUTOHSCROLL
    LTEXT           "Name (it) or number (3). Empty uses the target-language header.",IDC_STATIC_CSV_HINT,12,156,296,16
    DEFPUSHBUTTON   "OK",IDOK,168,178,60,18
    PUSHBUTTON      "Cancel",IDCANCEL,240,178,60,18
END

IDD_PREVIEW_DLG DIALOGEX 0, 0, 500, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NppTranslator - Preview"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Phrases:",IDC_STATIC_PHRASES,12,10,120,10
    LISTBOX         IDC_PREVIEW_LIST,12,22,150,240,LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_BORDER | WS_TABSTOP
    LTEXT           "Original:",IDC_STATIC_ORIGINAL,175,10,200,10
    EDITTEXT        IDC_PREVIEW_ORIGINAL,175,22,310,90,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER | WS_TABSTOP
    LTEXT           "Translated (editable):",IDC_STATIC_TRANSLATED,175,122,200,10
    EDITTEXT        IDC_PREVIEW_TRANSLATED,175,134,310,128,ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | WS_BORDER | WS_TABSTOP
    DEFPUSHBUTTON   "Apply",IDC_BTN_APPLY,345,272,65,18
    PUSHBUTTON      "Cancel",IDC_BTN_CANCEL,420,272,65,18
END

IDD_ABOUT_DLG DIALOGEX 0, 0, 320, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NppTranslator - About"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_ABOUT_TEXT,12,8,296,118,ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL | WS_VSCROLL | WS_BORDER
    CONTROL         "",IDC_KOFI_BTN,"Static",SS_BITMAP | SS_NOTIFY | SS_CENTERIMAGE | WS_TABSTOP,20,132,280,36
    DEFPUSHBUTTON   "OK",IDOK,130,184,60,18
END

IDR_KOFI_PNG RCDATA "..\\support_me_on_kofi_dark.png"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "AndyD"
            VALUE "FileDescription", "NppTranslator"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "NppTranslator.dll"
            VALUE "LegalCopyright", "Copyright (C) 2026 AndyD"
            VALUE "OriginalFilename", "NppTranslator.dll"
            VALUE "ProductName", "NppTranslator"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDD_CSV_COLUMN_DLG DIALOGEX 0, 0, 280, 92
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NppTranslator - CSV column"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "CSV column:",IDC_STATIC_CSV_COLUMN,12,12,256,10
    EDITTEXT        IDC_CSV_COLUMN,12,26,256,14,ES_AUTOHSCROLL
    LTEXT           "Name (it) or number (3).",IDC_STATIC_CSV_HINT,12,46,256,16
    DEFPUSHBUTTON   "OK",IDOK,148,68,56,16
    PUSHBUTTON      "Cancel",IDCANCEL,210,68,56,16
END
